*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f6f9;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#0a1931;
color:white;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
text-decoration:none;
color:white;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px 10%;
background:linear-gradient(
135deg,#0a1931,#185adb);
color:white;
}

.content{
max-width:500px;
}

.content h1{
font-size:55px;
margin:10px 0;
}

.content h2{
color:#9be7ff;
margin-bottom:15px;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:white;
color:#0a1931;
text-decoration:none;
border-radius:30px;
font-weight:bold;
}

.image img{
width:300px;
height:300px;
object-fit:cover;
border-radius:50%;
border:6px solid white;
}

section{
padding:60px 10%;
}

section h2{
text-align:center;
margin-bottom:25px;
color:#0a1931;
}

.card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.skills{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.skills span{
background:#0a1931;
color:white;
padding:10px 20px;
margin:8px;
border-radius:20px;
}

form{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
}

input,
textarea{
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:12px;
background:#0a1931;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

footer{
background:#0a1931;
color:white;
text-align:center;
padding:20px;
}

@media(max-width:768px){

.hero{
flex-direction:column;
text-align:center;
}

.image img{
margin-top:30px;
width:220px;
height:220px;
}

.content h1{
font-size:40px;
}

nav{
flex-direction:column;
}

nav ul{
margin-top:10px;
}
}